.accordion {
  margin-bottom: 28px;
  border: 1px solid var(--coolest);
  border-radius: 4px;
  overflow: hidden;
}
.accordion ul li {
  margin-bottom: 2px;
}
.accordion ul li b {
  margin-right: 6px;
}
.accordion-title {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--coolest);
  cursor: pointer;
}
div.accordion-item:last-child .accordion-title {
  border-bottom: none;
}
.accordion-title div:first-child {
  margin-right: 8px;
  text-decoration: underline;
}
.accordion-title div:first-child:hover {
  color: var(--warm);
}
.accordion-content {
  padding: 10px;
  border-bottom: 1px solid var(--coolest);
}
