.speaker-card-container h3 {
  padding-left: 4px;
  margin-bottom: 4px;
  margin-top: 0;
  font-size: 22px;
  line-height: 24px;
}
.speaker-card-body {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.75rem;
  border: 2px solid var(--warmest);
  overflow: hidden;
}
.speaker-card-body h4 {
  padding: 4px 13px;
  border-bottom-right-radius: 12px;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--coolest);
  background-color: var(--warmer);
}
.speaker-more-info-button {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  text-align: right;
  justify-content: flex-end;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
}
.speaker-more-info-button span {
  border-top-left-radius: 12px;
  padding: 8px;
  font-family: "Fredoka", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: var(--coolest);
  background-color: var(--warmer);
}
.speaker-more-info-modal {
  background-color: var(--coolest);
}
