footer {
  position: relative;
  text-align: center;
  padding: 6px 32px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  font-family: 'Fredoka', sans-serif;
  color: var(--neutral-light);
  background-color: var(--warmest);
  a {
    text-decoration: underline;
    svg {
      fill: white;
    }
  }
  a:hover {
    color: var(--warm);
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 12px 0;
    width: 100%;
  }
  .footer-left, .footer-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 48%;
  }
  .footer-left {
    margin-right: 16px;
    justify-content: space-between;
    a {
      display: flex;
      justify-content: center;
      width: 24px;
    }
    a:hover {
      svg {
        fill: var(--warm);
      }
    }
  }
  .footer-right {
    margin-left: 16px;
    justify-content: flex-end;
  }
  .icon-email {
    width: 20px;
  }
  .icon-instagram {
    width: 26px;
  }
  .icon-x {
    width: 18px;
  }
  .icon-youtube {
    width: 27px;
  }
}
