@import "./tailwind";
@import "./variables";
@import "./base";

.camp-nakamoto {
  position: relative;
  padding: 12px 12px 18px 12px;
}

.bitcoin-treasury-stamp {
  position: fixed;
  right: 4px;
  bottom: 4px;
  img {
    height: 44px;
    width: 44px;
  }
}

.site-wrapper {
  background-color: var(--neutral-light);
}
.site-wrapper i {
  display: inline-block;
  margin-right: 12px;
}

.section-divider {
  height: 52px;
}

@import "../app/components/ui/accordion-menu/accordion-menu";

@import "../app/components/navbar/navbar";
@import "../app/components/hero/hero";
@import "../app/components/speakers/speakers";
@import "../app/components/faqs/faqs";
@import "../app/components/sponsors/sponsors";
@import "../app/components/footer/footer";

@import "./media-queries";
@import "./stars-background";