@font-face {
  font-family: 'Kabel Black';
  font-weight: normal;
  font-style: normal;
  src:
    url(/fonts/kabel_black/KabelBlack-Regular.otf) format('opentype'),
    url(/fonts/kabel_black/KabelBlack-Regular.ttf) format('truetype'),
    url(/fonts/kabel_black/KabelBlack-Regular.woff) format('woff');
}
