@use 'fonts';

* {
  box-sizing: border-box;
}

html,
body,
#container {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 80px;
}

h2 {
  font-size: 1.6em;
  margin-top: 42px;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

a {
}

a:hover {
}

p {
}

ol,
ul {
}

li {
}

img {
}

hr {
  height: 0.5px;
  width: 100%;
  margin: 4px 0;
  background: white;
}

.karaoke-root {
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Kabel Black', serif;
  font-feature-settings: 'salt' on;
  box-sizing: border-box;
  background: linear-gradient(45deg, #ff6b6b, #4ecdc4, #45b7d1, #96c93d);
  background-size: 400%;
  animation: gradientCycle 10s ease infinite;
}

.setup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .lightning-invoice {
    display: flex;
    justify-content: center;
    margin-top: 42px;
  }
}

.setup-karaoke-type {
  width: 80%;
  padding: 40px;
  border: 2px solid white;
}

.setup-start {
  margin-top: 42px;
  padding: 10px 40px;
  border: 2px solid white;
  cursor: pointer;
}
.setup-start:hover {
  background-color: rgba(white, 0.33);
}

.brand {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  width: 33.33%;
  height: 58px;
  .patent {
    font-size: 0.4em;
    width: 100%;
    display: inline-block;
    text-align: left;
    letter-spacing: 3.2px;
    margin-top: -9px;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
  }
}

.home-setup {
  padding: 48px;
}

.setup-name {
  margin-top: 44px;
  width: 100%;
  input,
  input:focus {
    width: 100%;
    padding: 10px;
    border: 2px solid white;
    outline: none;
    font-size: 1.6em;
  }
}

@keyframes gradientCycle {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
